__pycache__
.hypothesis
/*/__pycache__
.vscode
chkpts
logs
data/*/all_data
data/*/all_data0
data/*/all_data00
data/*/raw_data
data/*/__pycache__
data/*/raw
data/*/intermediate
data/*/raw
figures
docs
1.log
1.md
1.py
