__pycache__
.hypothesis
/*/__pycache__
.vscode
chkpts
logs
data/*/all_data
data/*/all_data0
data/*/all_data00
data/*/raw
data/*/raw_data
data/*/__pycache__
data/*/intermediate
data/*/1.log
data/*/1.ipynb
figures
docs
shell_experiments
*.log
*.ipynb
1.md
1.py
1.sh
